@using ECollectionApp.WebUI.Data
@model IEnumerable<CollectionGroup>
@{
    ViewData["Title"] = "Your collection groups";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>Check your collection groups and edit them if you like</p>
    <div class="row">
        @foreach (CollectionGroup group in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@group.Name</h5>
                        @*<p class="card-text">@string.Join(' ', group.Tags)</p>*@
                        <p class="card-text">Description or just tags</p>
                        <a class="btn btn-info" asp-controller="CollectionGroup" asp-action="Details" asp-route-id="@group.Id">See</a>
                        <a class="btn btn-primary" asp-controller="CollectionGroup" asp-action="Edit" asp-route-id="@group.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="CollectionGroup" asp-action="Delete" asp-route-id="@group.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create new group</h5>
                    <a class="btn btn-primary" asp-controller="CollectionGroup" asp-action="Create">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
